adbutils==2.12.0
    # via -r requirements.in
certifi==2026.6.17
    # via requests
charset-normalizer==3.4.9
    # via requests
comtypes==1.4.16
    # via pycaw
darkdetect==0.8.0
    # via pyside6-fluent-widgets
decorator==5.3.1
    # via retry2
deprecation==2.1.0
    # via adbutils
idna==3.18
    # via requests
mouse==0.7.1
    # via ok-script
numpy==2.4.6
    # via
    #   opencv-python
    #   openvino
    #   shapely
ok-script==1.0.174
    # via -r requirements.in
onnxocr-ppocrv5==0.0.18
    # via -r requirements.in
opencc==1.4.1
    # via -r requirements.in
opencv-python==5.0.0.93
    # via -r requirements.in
openvino==2026.2.1
    # via -r requirements.in
openvino-telemetry==2025.2.0
    # via openvino
packaging==26.2
    # via deprecation
pillow==12.3.0
    # via
    #   adbutils
    #   onnxocr-ppocrv5
psutil==7.2.2
    # via
    #   ok-script
    #   pycaw
pyappify==1.0.6
    # via ok-script
pycaw==20240210
    # via ok-script
pyclipper==1.4.0
    # via onnxocr-ppocrv5
pydirectinput==1.0.4
    # via ok-script
pynput==1.8.2
    # via -r requirements.in
pyside6==6.11.1
    # via pyside6-fluent-widgets
pyside6-addons==6.11.1
    # via pyside6
pyside6-essentials==6.11.1
    # via
    #   pyside6
    #   pyside6-addons
pyside6-fluent-widgets==1.11.2
    # via
    #   -r requirements.in
    #   ok-script
pysidesix-frameless-window==0.8.1
    # via pyside6-fluent-widgets
pywin32==312
    # via
    #   ok-script
    #   pysidesix-frameless-window
requests==2.34.2
    # via
    #   adbutils
    #   ok-script
retry2==0.9.5
    # via adbutils
shapely==2.1.2
    # via onnxocr-ppocrv5
shiboken6==6.11.1
    # via
    #   pyside6
    #   pyside6-addons
    #   pyside6-essentials
six==1.17.0
    # via pynput
typing-extensions==4.16.0
    # via ok-script
urllib3==2.7.0
    # via requests
